<!DOCTYPE html>
<html>
	<!-- 
  <div class="ribbon right red">
	  <a href="https://MichelC.tk">CV</a>
	</div>
  -->
  {% include head.html %}

  <body>

  {% if page.lang == 'en' %}
    {% include header-en.html %}
  {% elsif page.lang == 'fr' %}
    {% include header-fr.html %}
  {% else %}
    {% include header.html %}
  {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  {% if page.lang == 'en' %}
    {% include footer-en.html %}
  {% elsif page.lang == 'fr' %}
    {% include footer-fr.html %}
  {% else %}
    {% include footer.html %}
  {% endif %}
	{% include googleanalytics.html %}
  </body>

</html>
